.LoginForm,
.SignupForm {
  /* put around the vertical center of page */
  height: calc(100vh - (32px + 24px)); /* home height - navigation height */
  min-height: 500px;
  padding-top: 20px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.LoginForm {
  background-image: url("../../../public/Lock.jpg");
}

.SignupForm {
  background-image: url("../../../public/checklist.png");
}

.LoginForm h2,
.SignupForm h2 {
  color: white;
  background-color: rgba(0,0,0,0.5);

  margin-bottom: 0;
  padding: 10px;
}