
.Nav {
    background-color: var(--headline, #90b4ce);
    padding: 16px 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--button-text)
}

.Nav a {
    text-decoration: none;
    margin-right: 16px;
    color: var(--secondary)
}

.Nav a.active {
    font-weight: bold;
}

/* ul list navigation */
.Nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

/* @media screen and (max-width: 900px) {
    .Nav ul {
      flex-direction: column;
    }
  } */